[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-session = "*"
flask-socketio = "*"
gunicorn = "*"
gevent = "*"
setuptools = "*"
eventlet = "*"

[dev-packages]

[requires]
python_version = "3.8"
